
<style>
.bottom a{margin:0 auto; height:45px; line-height:45px; font-size:14px; color:#FFF;}
</style>
<footer class="footer">
      <div class="link">
          <p><font style="font-weight:bold;">友情链接</font><br />
              <span><a target="_blank" href="http://www.bjedu.gov.cn/">北京市教育委员会</a></span>
              <span><a target="_blank" href="http://www.bjxch.gov.cn/index.ycs">北京市西城区人民政府</a></span>
              <span><a target="_blank" href="http://www.xchjw.gov.cn/">西城区教育委员会</a></span>
              <span><a target="_blank" href="http://www.bjeea.cn/">北京教育考试院</a></span>    
              <span><a href="http://www.dcks.org.cn/" target="_blank">东城区教育招生考试中心</a></span> 
    		  <span><a href="http://www.hdks.gov.cn/" target="_blank">海淀区教育招生和考试中心</a></span>
              <span><a href="http://www.cyks.org.cn/" target="_blank">朝阳区招生考试中心</a></span> 
              <span><a href="http://kszx.ftedu.cn/" target="_blank">丰台区招生考试中心</a></span>
              <span><a href="http://www.sjsedu.net.cn" target="_blank">石景山区教育委员会</a></span>
    		  <span><a href="http://kszx.daxingedu.cn/" target="_blank">大兴区教育考试中心</a></span>
              <span><a target="_blank" href="http://www.hredu.gov.cn/" >怀柔区教育委员会</a></span>
              <span><a target="_blank" href="http://www.yqedu.com.cn/SitePages/Home.aspx">延庆区教育委员会</a></span>
              <span><a target="_blank" href="http://www.myedu.gov.cn/">密云区教育委员会</a></span>
              <span><a href="http://www.shyedu.cn/" target="_blank">顺义区教育委员会</a></span>
          </p>
     </div>
     
     <div class="bottom">
         <p>版权所有：北京市西城区教育考试中心&nbsp;&nbsp;&nbsp;&nbsp;未经同意，请勿转载!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
    		<a target="_blank" href="http://www.miibeian.gov.cn/publish/query/indexFirst.action">
    		京ICP备17014800号
    		</a>&nbsp;&nbsp;&nbsp;&nbsp;
    		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010202007353">
    			<img src="$!{rc.contextPath}/images/beian.png" width="25" height="25"/> 京公网安备 11010202007353号
    		</a>&nbsp;&nbsp;&nbsp;&nbsp;
    		<a target="_blank" href="http://bszs.conac.cn/sitename?method=show&id=0C30AC7172861709E053012819AC3BAF">
    			 <img src="$!{rc.contextPath}/images/b02.png" width="25" height="25" />
    		</a>
	    </p>
     </div>
</footer>