#set($htmlTitle = "西城考试中心")
#set($cssFiles = ["css/huikao.css"])

	 <div class="top"></div>
     <div class="topt"></div>
     
     <div class="head">
          <div class="box">
               <div class="logo"><a href="http://www.xjks.org"><img src="$!{rc.contextPath}/images/logo.png" width="740" height="90" /></a><div>
          </div>
     </div>
     
     
     <div class="banner">
          <div style="width:100%; height:360px; background:url($!{rc.contextPath}/images/banner.png) center center no-repeat;"></div>
     </div>
     
     <div class="line"></div>
     
     <div class="contant wrap">
     
        <div class="left">
             <div class="left-top">
                  <img src="$!{rc.contextPath}/images/xiaoxue01.png" width="244" height="8" />
                  <span>普通高中会考办公室<br />（会考办）</span>
             </div>
             <div class="jianjie">
                  <p><font></font>联系我们： 66127034</p>
                  <p><font></font>科室简介：</p>
                  <span>负责辖区内高中学生会考工作</span>
             </div>
             <div class="daohang">
                  <img src="$!{rc.contextPath}/images/huikao02.png" width="244" height="53" />
                  <ul>
                      <li><span><img src="$!{rc.contextPath}/images/huikao03.png" width="20" height="14" /></span><a href="$!{rc.contextPath}/news/goHighsNoticeNewsPage">公告通知</a></li>
                      <li><span><img src="$!{rc.contextPath}/images/huikao03.png" width="20" height="14" /></span><a href="$!{rc.contextPath}/news/goHighsStudentsNewsPage">招生政策</a></li>
                      <li><span><img src="$!{rc.contextPath}/images/huikao03.png" width="20" height="14" /></span><a href="$!{rc.contextPath}/news/goHighsProblemNewsPage">问题解答</a></li>
                  </ul>
             </div>
             
             <div class="daohang">
                  <a href="$!{rc.contextPath}/news/goHighsResult"><img src="$!{rc.contextPath}/images/chaxun.png" width="244" height="100" /></a>
             </div>
             
             
        </div>
        
        <div class="right">
             <div class="right-top"><span></span>
				#if($!{news.columnType}==2)
					公告通知
				#elseif($!{news.columnType}==3)
					招生政策
				#elseif($!{news.columnType}==4)
					问题解答
				#end
			 </div>
             <div class="chaxunlist">
                  <h3>$!{news.newsTitle}</h3>
                  <font>
					$!{news.contents}
					#if (${news.pictures} && "" !=${news.pictures})
						<a href= "$!{rc.contextPath}/download?filePath=$!{news.pictures}">附件下载</a>
					#end
				  </font>
             </div>
        </div>
              
     </div>
     
#parse("/common/usercenter/footer.vm")

