@CHARSET "UTF-8";

.newsSwiper {
	position: relative;
}

.newsSwiper>div {
	position: absolute;
	z-index: 2;
	top: 10px;
	color: #fff;
	background-color: #333;
	opacity: 0.4;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: left;
	padding-left: 15px;
	font-size: 18px;
	font-weight: blod;
}

/* 列样式 */
.mediaSimple {
	border: 1px solid #DEDEDE;
	border-style:none none solid none;
	margin: 1px;
	padding: 5px;
	/*background: #E8E8E8; */
}


