<style >
	#tbl-role-permission{
		display: block; 
        height: 350px; 
        overflow: auto; 
	}
</style>
<script src="$!{rc.contextPath}/js/templates/authority/role-permission.js"></script>
<div class="modal fade" id="role-permisson-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="role-permission-title">角色授权</h4>
            </div>
            <div class="modal-body">
                <form id="role-permission-form" method="post" >
                    <div style="float:left; margin-bottom:10px;">
                        <button class="btn btn-info btn-md" style="" type="button" id="btn-checkbox-all">全选</button>
                        <button class="btn btn-info btn-md" style="" type="button" id="btn-checkbox-other">反选</button>
                    </div>
					<br/>
                    <input id="role-permission-id" name="id" type="hidden" value="$!{role.id}"></input>
                    <table id="tbl-role-permission" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:45%">资源</th>
                                <th style="width:55%">权限</th>
                            </tr>
                        </thead>
                        <tbody id="module-tree">
							
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn-permission-save" >保存</button>
            </div>
        </div>
    </div>
</div>
