#set($cssFiles = ["css/templates/main/main.css","css/templates/main/style.css","css/templates/party/partyNews.css"])
#set($jsFiles = ["js/templates/policy/policyClassNews.js"])
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
	    <!-- 顶部导航栏 -->
	<input type="hidden" id="columnType" name="columnType" value="$!{columnType}"/>
	#if($!{columnType}==5)
		
    #else
		<header class="page_hd">
		
            <nav class="navbar navbar-fixed-top" style="min-height:30px">
				<div id="dv">
                <ul>
                    <li><a href="javascript:void(0);" onclick="tabSelect('tab_health_2',2)" id="tab_health_2">公告通知</a></li>
                    <li><a href="javascript:void(0);" onclick="tabSelect('tab_health_3',3)" id="tab_health_3">招考政策</a></li>
                    <li><a href="javascript:void(0);" onclick="tabSelect('tab_health_4',4)" id="tab_health_4">问题解答</a></li>
                </ul>
				</div>
            </nav>
		
		</header>
	#end
	
		<!--下部社管动态数据列表-->
	
        <div  style="margin-top: 10px;margin-bottom:70px;">
        	<input type="hidden" id="page-params" value="6,5"/>
			<input type="hidden" id="newsType" name="newsType" value="$!{newsType}"/>
        	<div id="news-dynamic" style="margin-bottom:5px;" class="content">
        		
        	</div>
        	
        	<div id="news-hint" class="text-center"  style="display:none;">
        		
        	</div>
        	<div id="data-loading" class="media" style="display:none;">
        		<center>
        			<div class="panel panel-default" style="width:150px;">
        				<div class="panel-body" style="width:150px;padding:2px;">
        					<div class="media-left">
                              <img alt="loading" class="media-object" style="width: 20px; height: 20px;" src="$!{rc.contextPath}/images/loading.gif" data-holder-rendered="true">
                              </div>
                              <div class="media-body" style="width:100px;">
                        			正在加载……
                              </div>
                	   </div>
            	   </div>
        	  </center>
            </div>
        	<div id="btn-more" class="button"><a href="javascript:void(0)" onclick="loadMore()">加载更多</a></div>
        </div>
		
        
		<div class="tab">
		 	  <div class="bar"><a href="$!{rc.contextPath}/main"><img src="$!{rc.contextPath}/images/main/tab02.png" width="25" height="23"></a><br><span><a  href="$!{rc.contextPath}/main">首页</a></span></div>
		 	  <div class="bar"><a href="$!{rc.contextPath}/news/goNewInfoPage?newsTypeId=2"><img src="$!{rc.contextPath}/images/main/tab04.png" width="25" height="23"></a><br><span><a href="$!{rc.contextPath}/news/goNewInfoPage?newsTypeId=2">中心新闻</a></span></div>
		 	  <div class="bar"><a href="$!{rc.contextPath}/news/goPolicyPage"><img src="$!{rc.contextPath}/images/main/tab05.png" width="25" height="23"></a><br><span><a style="color:#209e85;" href="$!{rc.contextPath}/news/goPolicyPage">政策公告</a></span></div>
		 	 ## <div class="bar"><a href="login.html"><img src="$!{rc.contextPath}/images/main/tab08.png" width="25" height="23"></a><br><span><a href="login.html">个人中心</a></span></div>		 	
        </div>
        